body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 80%;
    height: 620px;
    /* Điều chỉnh chiều cao nếu cần */
    margin: 20px;
    background-size: cover;
    /* Đảm bảo hình nền phủ toàn bộ phần tử */
    border-radius: 10px;
    /* Tùy chọn làm tròn các góc */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Tùy chọn thêm bóng đổ */
    background-color: #eeece9;
    overflow: hidden;
}

img {
    position: absolute;
    cursor: pointer;
}

#kangaroo {
    top: 240px;
    /* Đặt vị trí của chim én nếu cần */
    left: 0;
    width: 350px;
}

#swallow {
    left: 0;
    width: 170px;
}

#restart {
    position: absolute;
    bottom: 20px;
    /* Đặt vị trí của nút Restart nếu cần */
    left: 60%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(255, 67, 67);
    color: white;
}

#run {
    position: absolute;
    bottom: 20px;
    /* Đặt vị trí của nút Restart nếu cần */
    left: 35%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #00c500;
    color: white;
}

#grass {
    width: 100%;
    height: auto;
    margin-top: 12%;
}

@media (max-width: 670px) {
    #grass {
        margin-top: 23%;
    }

    #swallow {
        width: 120px;
    }

    #kangaroo{
        top: 130px;
        width: 175px;
    }

    .container {
        height: 354px;
    }
}

@media (min-width: 680px) and (max-width: 932px) {
    .container {
        height: 310px;
    }

    #grass {
        margin-top: 17%;
    }

    #swallow {
        width: 100px;
    }

    #kangaroo {
        top: 135px;
        width: 170px;
    }

    #restart,
    #run {
        padding: 3px 11px;
        font-size: 11px;
        bottom: 7px;
    }

    p {
        font-size: 12px;
        margin-bottom: unset;
    }
}

@media (min-width: 940px) and (max-width: 1024px) {
    #grass {
        margin-top: 36%;
    }
}